group Server
  storage: none
  source https://api.nuget.org/v3/index.json

  nuget FSharp.Core
  nuget Saturn
  nuget Fable.JsonConverter

  clitool Microsoft.DotNet.Watcher.Tools

group Client
  storage: none
  source https://api.nuget.org/v3/index.json

  nuget Fable.Core
  nuget Fable.Elmish.Browser
  nuget Fable.Elmish.Debugger
  nuget Fable.Elmish.React
  nuget Fable.Elmish.HMR
  nuget Fulma 1.0.0-beta-007

  clitool dotnet-fable

// [ FAKE GROUP ]
group Build
  source https://api.nuget.org/v3/index.json
  nuget Fake
  nuget Fake.Core.Target
  nuget Fake.Core.SemVer
  nuget Fake.Core.Environment
  nuget Fake.IO.FileSystem
  nuget Fake.Core.ReleaseNotes
  nuget Fake.Core.Process
  nuget Fake.DotNet.Cli
  nuget Fake.Tools.Git